# Directories
.vs/
Binaries/
build/
cmake-build-*/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
compile_commands.json
CTestTestfile.cmake
_deps/

# CLion
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/sonarlint/
.idea/httpRequests/

# Keep these CLion files for project setup
# .idea/
# .idea/cmake.xml
# .idea/runConfigurations.xml

# Exclude
!Vendor/Binaries

# Build artifacts & directories
build/
build-*/
cmake-build-*/
Binaries/

# IDE-specific files
.idea/
# .vscode/

# Premake-generated project files
*.make
Makefile
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj/

# macOS-specific files
.DS_Store

# Other temporary files
*.swp
*.swo